{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 mx-auto">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          {% if users %}
            {% for user in users %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}}</td>
                <td>@{{ user.user_email }}</td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
